Machine Learning Tutorial - Naive Bayes: Exercise
Use wine dataset from sklearn.datasets to classify wines into 3 categories. Load the dataset and split it into test and train. After that train the model using Gaussian and Multinominal classifier and post which model performs better. Use the trained model to perform some predictions on test data.

In [1]:
import pandas as pd

from sklearn.datasets import load_wine

In [2]:
wine = load_wine()

In [3]:
dir(wine)

['DESCR', 'data', 'feature_names', 'frame', 'target', 'target_names']

In [4]:
wine.target_names

array(['class_0', 'class_1', 'class_2'], dtype='<U7')

In [5]:
df=pd.DataFrame(wine.data,columns=wine.feature_names)

In [6]:
df.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0

In [7]:
target=pd.DataFrame(wine.target, columns=['target'])

In [8]:
target.head(2)

   target
0       0
1       0

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, Y_train, Y_test=train_test_split(df , target,test_size=0.2)

In [18]:
from sklearn.naive_bayes import GaussianNB, MultinomialNB

In [ ]:
model1=GaussianNB()
model2=MultinomialNB()

In [71]:
X_train, X_test, Y_train, Y_test=train_test_split(df , target,test_size=0.2)

model1.fit(X_train, Y_train)
model2.fit(X_train, Y_train)

print("Accuracy of GaussianNB=",model1.score(X_test, Y_test))
print("Accuracy of MultinomialNB=",model2.score(X_test, Y_test))

Accuracy of GaussianNB= 1.0
Accuracy of MultinomialNB= 0.9444444444444444

C:\Users\Mujtaba Jafri\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Mujtaba Jafri\AppData\Roaming\Python\Python312\site-packages\sklearn\utils\validation.py:1229: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)